<% content_for :head do %>
  <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check-Out Our Courses') %>
<% end %>

<section class="row clearfix">
	<div class="spacer">
	</div>
</section>

<section class="row clearfix">
	<div class="bg-fl bg-fl-5">
	  <div class="bg-full-cn bg-left-cn">
		<h1>The Impact: Humanoids, Global Connectivity, Human Longevity, Drone-Driven Humanitarian Aid & More</h2>
		<p>In this series, I&nbsp;perform a brief dive into some of the innovations reported within the previous week. The focus... to demonstrate the impact of upcoming technology, highlight future trends and to promote radical innovation.</p>
		<h2><strong>Top-Secret Microsoft Tests in Human-Robot Interaction</strong></h2>
		<p>Robotics has exponentially progressed throughout the previous decades from simplistic procedures including product part sorting through to customisable manufacturing which areas such as 3D Printing are brought to life. Yet the personal touch has not yet arrived. The humanoids. Back in 2014, <a href="http://www.bbc.co.uk/news/technology-27762088" target="_blank">a&nbsp;computer passed the Turing test</a>, a test designed to question the human-like capabilities of robots. Now in 2016, robotics looks to be taking that next stage to an era of widespread intelligent humanoids. The impact of which could vastly affect labour intensive, technical and even defence industries. Afterall, a human-like robot is presumably capable of operating at a higher rate, accuracy and in much more adverse conditions than us humans. The question is, which industries will be created as a fallout from widespread humanoid development.</p>
		<p>The Microsoft research behind Xiaoice had the following to say about her:</p>
		<blockquote>"If it's something she doesn't know much about, she will try to cover it up. If that doesn't work, she might become embarrassed or even angry, just like a human would." - Yongdong Wang, Microsoft Researcher</blockquote>
		<h2><strong>Robot Drones in 3D-Print Humanitarian Aid Efforts</strong></h2>
		<p>One of the problems the World faces is the labour intensive nature of key industries such as construction. In the aftermath of devastating disasters, conjuring the human resources, materials and ensuring stable conditions to operate is a debilitating challenge to humanitarian efforts. Yet Robot Drones, under research by Imperial College London, look to address these issues through Drones. Long in the news has been the stories of Amazon using Drones for delivery, yet an increasingly important and socially-driven use-case has arisen. The impact of which would be the capability to offer much-needed resources, shelter and general support activities at a much quicker rate to disaster zones. A potentially life-saving impact.</p>
		<h2><strong>Augmented Reality Construction Industry Use-Case</strong></h2>
		<p>Augmented Reality is another technology which has been identified as the future of a number of industries, particularly media and advertising. Yet the construction use-case presents an opportunity to offer real-time planning overlays to be displayed across construction projects. The resulting benefit being a seamless integration between planning and building operations with an impact on vast time-saving, improved accuracy and the potential for much more complex and detailed design projects.</p>
		<p>The founder of Daqri, an Augmented Reality solution for industry, had the following to say about the technology:</p>
		<blockquote>"We've been working in the medium of augmented reality for the past four years, and what we found was, you just can't solve the most challenging problems with devices that were designed for consumers," said Brian Mullins, Daqri's founder and CEO</blockquote>
		<h2><strong>Advanced Analytics Use-Case in Search &amp; Rescue Drones</strong></h2>
		<p>Much like the Robot Drones rising out Imperial College London, a Swiss Group has developed search and rescue drones, capable of following human trails. Trails which are for the most part difficult for humans to trace. The use-case is relatively varied in that such drones evidently will prove useful in situations such as lost-persons reports. Yet the impact is much more widespread. Think of security services tracking down wanted personnel, rescue efforts in disaster situations and many of the adverse conditions these drones could conquer which humans cannot contend with.</p>
		<h2><strong>ViaSat and Boeing To Deliver Global Connectivity</strong></h2>
		<p>Last week, reports arose of provisions of Google's global connectivity solution. Yet ViaSat's partnership with Boeing is one worth noting given the already vast capabilities of both partners, either in telecommunications provisions or aeronautical engineering. Whilst the connectivity space is proving extremely competitive, the speed to market is one aspect which the providers can greatly impact upon. The sooner these solutions launch, the more opportunities exist to educate, provide for and help many of the remotest people in the World.</p>
		<p>ViaSat CEO, Mark Dankberg had the following the say about ViaSat-3:</p>
		<blockquote>"The innovations in the ViaSat-3 system do what until now has been impossible in the telecommunications industry&mdash;combining enormous network capacity with global coverage, and dynamic flexibility to allocate resources according to geographic demand," - Mark Dankberg, chairman and CEO of ViaSat</blockquote>
		<h2><strong>A Milestone in Progressing Human Longevity</strong></h2>
		<p>Human Longevity is a topic hot on the lips of serial visionaries such as Peter Diamandis... after all, he founded a business and research arm focusing on human longevity. Yet, the natural testing process has been spoken about at length albeit with limited output, aside from the natural progressions to healthier lives (at least in my visibility anyway). Human longevity is focused on improving the minds and physical capabilities of humans throughout the World. Yet questions must be raised as to the true impact. Afterall, is human longevity primed to accelerate the issues we face with over-popularisation of the planet? Maybe Peter Diamandis' other venture in space travel and mining will help reduce the impact of human longevity. Afterall, who does not want to live forever, in a healthy form.</p>
		<h2><strong>Moving with the Power of Thought</strong></h2>
		<p>A number of research projects have arisen over the recent weeks relating to developing robotic capabilities which can be controlled by human interaction. Yet research at the Royal Melbourne Hospital has moved one step further by developing an implant which can control an exoskeleton. Research which could mean that those with disabilities are able to now control the movement of their disabled limbs. An impact which not only can assist with those in these situations lives more stable and potentially independent lives, but also a potential for a vast array of industries to arise out of human-robot interconnection.</p>
		<p>Researcher, Terry O'Brien had the following to say about the research:</p>
		<blockquote>&ldquo;This technology is really exciting. It&rsquo;s the first time that we&rsquo;ve been able to demonstrate and develop a device that can be implanted without the need for a big operation, to chronically record brain activity,&rdquo; - Terry O&rsquo;Brien, Royal Melbourne Hospital</blockquote>
		<h2><strong>About The Author</strong></h2>
		<p><em>Stephen Baines is a Senior Management Consultant and MBA currently working for Hewlett-Packard Enterprise and pursuing a number of external entrepreneurial ventures. The views within this post are explicitly those of Stephen and have no representation of any organisation Stephen represents. If you wish to contact Stephen, please contact him via LinkedIn or his Twitter handle (<a href="https://twitter.com/baines1986" target="_blank">@baines1986</a>).</em></p>
		<p><em>Read more about Stephen at&nbsp;<a href="http://www.stephenjbaines.com/" target="_blank">Stephen's personal website</a></em></p>
	  </div>
    </div>
</section>