<% content_for :head do %>
  <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check-Out Our Courses') %>
<% end %>

<section class="main-block">
	<div class="row">
	    <div class="col-md-9">
			<p>An MBA Strategy focused Management Consultant with extensive experience in Innovation and driving forward Technology, Digital and Business propositions. Experiences in building innovative propositions, championing business and digital strategy transformations and leading successful projects.</p>

			<p>Management Consulting experiences resulting in client cost savings in excess of $58m p.a., new business ventures valued over $200m and the winning of high profile contracts totalling >$75m.</p>

		    <p>Stephen’s career purpose is to build, lead and develop exceptional teams to deliver exemplary results. A purpose destined to lead to developing into a Worldleading Global 100 CEO.</p>

			<p>Stephen currently serves in voluntary roles including global philanthropical organisation One Young World whilst also acting as an advisor to start-up businesses and incubators including Start-Up Weekend.</p>

			<p>Stephen’s skills include:</p>
			<ul>
				<li>Business & Digital Strategy Consulting</li>
				<li>CIO Advisory</li>
				<li>Team Leadership</li>
				<li>Business & IT Transformation</li>
				<li>Business Model Design</li>
				<li>Product Development</li>
				<li>Innovation</li>
				<li>Client and Partner Management</li>
				<li>Project Management</li>
				<li>Technical, Quantitative Analytics and Research</li>
				<li>Strategic Planning</li>
				<li>Start-Ups</li>
			</ul>

			<p>Recognised as an exemplary performer, Stephen was awarded with a Distinction MBA with an award winning Thesis as ‘Overall Best Individual Research Project’. Other awards include Top-Five Performer (Advanced Strategic Management); #1 Business Proposal at ‘14 ‘What Next’ Conference and Finalist in ‘13 MBS Venture Further & ’14 MBS Venture Out Start-up Competition.</p>
	    </div>
	    <div class="col-md-3">          
		    <p><%= image_tag('P6731_Baines_014.jpg', alt: 'Stephen Baines') %></p>
		</div>
    </div>



</section>

<section class="row clearfix">
	<div class="bg-full bg-fl-0">
	  <div class="bg-full-cn">
		<div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
			    <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
			</div>
		</div>
	  </div>
	</div>
</section>