<% content_for :head do %>
  <%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check-Out Our Courses') %>
<% end %>

<section class="main-block">
  <h3>March 2016</h3>
  <div class="blog-entry">
    <h4>Technological & Digital Innovation: Future Trends</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/technological-digital-innovation-future-trends-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Technological & Digital Innovation: Current Trends</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/technological-digital-innovation-current-trends-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Universal Transplants | Hydrogen Fuel Cells | Autonomous Tata Nano | 3D Mapping Drone & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-universal-transplants-hydrogen-fuel-cells-ai-based-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Blockchain Open Sourcing | Tesla AutoPilot | Brain-Reading Tech | Connecting the Disconnected & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-blockchain-open-sourcing-tesla-autopilot-tech-more-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>What the Nissan Qashqai Launch Taught Me About Business & Innovation</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/what-nissan-qashqai-launch-taught-me-business-stephen-baines">here</a></p>
  </div>

  <h3>February 2016</h3>
  <div class="blog-entry">
    <h4>Phone Battery with 7-Day Life | Athlete Training in VR | Facebook is Using AI for Good & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-phone-battery-7-day-life-athlete-training-vr-facebook-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Mars in 3 Days, 3DPrinted Human Tissue, Brainwave Education, Memory Crystals & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-mars-3-days-3dprinted-human-tissue-brainwave-education-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Humanoids, Global Connectivity, Human Longevity, Drone-Driven Humanitarian Aid & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-humanoids-global-connectivity-human-longevity-aid-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>The Enabler of Success is Hustle</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/enabler-success-hustle-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Eight Rules to Manage Work Stress and Create a Better Balance</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/eight-rules-manage-work-stress-create-better-balance-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Mastering the Work-Life Balance</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/mastering-work-life-balance-my-life-outsidework-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Google's Future is AI | Global Connectivity | Modular Exo-Skeletons | Mars Colonisation & More!</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-googles-future-ai-race-global-connectivity-modular-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Desert Farming | More Artificial Intelligence | Sport of 2050 & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-desert-farming-more-artificial-intelligence-sport-baines">here</a></p>
  </div>

  <h3>January 2016</h3>
  <div class="blog-entry">
    <h4>Importance of Solid Career Foundations as a Relentlessly Ambitious Millennial Future Leader (Part 1)</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/importance-solid-career-foundations-relentlessly-ambitious-baines">here</a></p>
  </div>
  <div class="blog-entry">      
    <h4>AI-Driven Politics | Nano-Health Bots | Augmented Reality | Cancer Detection & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-ai-driven-politics-nano-health-bots-augmented-reality-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>9 Principles of Stoicism which will Improve your Life</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/9-principles-stoicism-which-improve-your-life-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>#SkillsGaps for Millennial Leaders</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/skillsgaps-millennial-leaders-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Business, Leadership & Lifestyle: My Reads of 2015</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/business-leadership-lifestyle-my-reads-2015-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Low Cost Cancer Tests | 3D Printing Alien Structures | Rogue Drone Catchers & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-low-cost-cancer-tests-3d-printing-alien-rogue-drone-baines">here</a></p>
  </div>
  <div class="blog-entry">      
    <h4>One Young World: Coordinating Ambassador</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/one-young-world-coordinating-ambassador-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Autonomous Taxi | Human Computation | Colonisation of Mars | Corporate Crowdfunding & More</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-autonomous-taxi-human-computation-colonisation-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Five Things I Learned in 2015</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/five-things-i-learned-2015-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>The Impact of Innovation (4-Jan Edition)</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/impact-innovation-4-jan-edition-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>#BigIdeas2016: Start-Ups, Tech Giants & Innovation</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/bigideas2016-start-ups-tech-giants-innovation-stephen-baines">here</a></p>
  </div>
  <div class="blog-entry">
    <h4>Top 11 Podcast Episodes of 2015</h4>
    <p>Read more <a href="https://www.linkedin.com/pulse/top-11-podcast-episodes-2015-stephen-baines">here</a></p>
  </div>      
</section>

<section class="row clearfix">
  <div class="bg-full bg-fl-0">
    <div class="bg-full-cn">
    <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
      </div>
    </div>
    </div>
  </div>
</section>