<% content_for :head do %>
    <%= image_tag('1.jpg', id: 'fifth-slide', alt: 'Technology') %>
<% end %>

<section class="main-block">
      <%= image_tag('laws.jpg', alt: 'Technology') %>
	<div class="row">
		<ol>
			<li>Anything can happen, so focus on what will go right</li>
			<li>If something does go wrong, fix it... learn from it</li>
			<li>Negative people bring negative thoughts. Lose them!</li>
			<li>If you cannot do it yourself, learn the basics... then hire someone who can</li>
			<li>Never stop learning</li>
			<li>Fitness is the foundation to excellence</li>
			<li>Excellence is only achieved through hardwork and dedication</li>
			<li>Hedge your bets across multiple projects... do not put all your eggs in one basket</li>
			<li>If you cannot win, change the rules</li>
			<li>To hell with it... make your own rules anyway</li>
			<li>Perfection is under any circumstances not optional</li>
			<li>When forced to compromise, always ask for more</li>
			<li>Take the time to THINK. Think BIG!</li>
			<li>The faster you move, the more focused you become... the less time you waste</li>
			<li>If you think it is impossible, try a different way</li>
			<li>The day before something is a breakthrough, it is one hell of a crazy idea</li>
			<li>If it were easy then everyone else would be doing it</li>
			<li>Without a goal, you will miss every time</li>
			<li>If you cannot measure it, you cannot improve it</li>
			<li>Bureacracy is the mother of all evil. Conquer it by any means necessary</li>
			<li>Freedom is the key to widespread success</li>
			<li>Mindfulness is the art of achieving freedom from the physical World</li>
			<li>Help others and karma will return the favour</li>

		</ol>
    </div>

</section>

<section class="row clearfix">
	<div class="bg-full bg-fl-0">
	  <div class="bg-full-cn">
		<div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
			    <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
			</div>
		</div>
	  </div>
	</div>
</section>