<% content_for :head do %>
    <%= image_tag('3.jpg', id: 'fifth-slide', alt: 'Technology') %>
<% end %>

<section class="main-block">

    <h2>The Vision</h2>
  	<div class="row">
        <div class="col-md-6">
          <h4>An Honest, Empathetic and Impactful Global Leader</h4>
          <p>A leader who achieves the very best results whilst being socially aware, honest and impactful.</p>
        </div>
        <div class="col-md-6">
          <h4>To be Recognised Throughout my Industry</h4>
          <p>A reputation throughout my industry of core operation as being a top-achiever with an underlying team-ethic.</p>
        </div>
    </div>
  	<div class="row">
        <div class="col-md-6">
          <h4>To Add-Value to All Those I Encounter</h4>
          <p>An ability to add value in all walks of life to all individuals along the journey to realise my vision.</p>
        </div>
        <div class="col-md-6">
          <h4>Ensuring an Effective Balance of Work-and-Life</h4>
          <p>A balance between both work-and-life which results in a flourishing family-life whilst an excelling of passions.</p>
        </div>	 
    </div>  

    <h2>The Mission</h2>
  	<div class="row">
        <div class="col-md-12">
          <p>Stephen’s career purpose is to build, lead and develop exceptional teams to deliver exemplary results. A purpose destined to lead to developing into a World-leading Global 100 CEO. A career intended to develop the World into an overall better place to live and work.</p>
        </div>
  	</div> 

    <h2>The Strategy</h2>
  	<div class="row">
        <div class="col-md-6">
          <h4>Build, Develop and Leverage a Strong Network</h4>
          <p>Networking is vital for success in all walks of life. The purpose of the first-step is to build-out a strong network which presents opportunities to support others whilst also presenting opportunities for progression and development. Key focuses are:</p>
          <ul>
            <li>Build-out a solid network of advocates and supporters</li>
            <li>Strive to assist others in achieving their visions</li>
            <li>Always be aware of the next opportunity to progress the vision</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Innovate around Value Proposition and Branding</span></h4>
          <p>There is an underlying importance in both continual development of our skillsets whilst also ensuring that the messages of what we do best and the value we add are accurately and comprehensively conveyed. Key focuses are:</p>
          <ul>
            <li>Focus upon learning something new every day</li>
            <li>Ensure clear articulation and communication of value-add</li>
            <li>Understand where innovation can both help achieve the vision and that of others</li>
          </ul>
        </div>
  	</div>
  	<div class="row">
        <div class="col-md-6">
          <h4>Continue to Deliver Through Exceeded Expectations</h4>
          <p>Being a well-networked and suitably skilled individual means very little if value cannot be consistently delivered in the work that we do. Ensuring consistent high quality delivery of projects and assignments which far exceed the expectations of stakeholders is essential for career success. Key focuses are:</p>
          <ul>
            <li>Clearly understand and articulate the expectations</li>
            <li>Optimise working practices to ensure such expectations are exceeded</li>
            <li>Ensure cycles of continuous review and improvement of deliverables</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Ethically Build Personal Experiences</span></h4>
          <p>Ensure a constant alignment of efforts towards an ethical practice of doing what is right in the World. A focus upon ensuring that a social agenda remains one of the top priorities whilst using such agendas to progress personal development and insight where appropriate. Key focuses are:</p>
          <ul>
            <li>Understand and articulte a social agenda to execute against</li>
            <li>Apply such agendas and experiences to build a profound personal experience</li>
            <li>Ensure alignment of all practices to an underlying social agenda</li>
          </ul>
        </div>
  	</div>

  	<h2>Core Values</h2>
  	<div class="row">
        <div class="col-md-6">
          <h4>To Lead</h4>
          <p>To guide, inspire and influence individuals to be the best that they can be whilst encouraging efforts which align towards a wider team or organisation-wide cause made real through explicit interest.</p>
        </div>
        <div class="col-md-6">
          <h4>To Catalyze</h4>
          <p>To positively impact upon those I encounter by encouraging, influencing and stimulating individual growth and a wider innovation agenda which acts as a motivator to energize others.</p>
        </div>
  	</div>
  	<div class="row">
        <div class="col-md-6">
          <h4>To Discover</h4>
          <p>To ensure a continuous cycle of learning for both myself and my peers to enable and distill valued individual observations, perceptions and realisations across a whole manner of situations.</p>
        </div>
        <div class="col-md-6">
          <h4>To Relate</h4>
          <p>To be aware and connected to my own inner conciousness whilst being open to and integrated with the minds of others to ensure an alignment and understanding on a concious/non-concious level.</p>
        </div>
  	</div>	

</section>

<section class="row clearfix">
	<div class="bg-full bg-fl-0">
	  <div class="bg-full-cn">
		<div class="row text-center">
		    <div class="col-sm-10 col-sm-offset-1">
			    <p class="lead">Copyright &copy; 2016 Stephen J. Baines</p>
			</div>
		</div>
	  </div>
	</div>
</section>