<p>Thanks for buying!</p>

<a href="<%= @product.download_url %>"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>

<p>The password and further detail for your purchase is (if applicable): <%= @product.download_info %> </p>