<p>Thanks for buying!</p>

<a href="https://s3-eu-west-1.amazonaws.com/sb-om-stripe-payments/Resume++Stephen+Baines+Jan-16.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>